Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

Import the dataset

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

Assign it to a variable called chipo

In [4]:
chipo = pd.read_csv(url, sep='\t')

See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

What is the number of observations in the dataset?

In [7]:
chipo.shape[0]

4622

What is the number of columns in the dataset?

In [8]:
chipo.shape[1]

5

Print the name of all the columns

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

Which was the most-ordered item?

In [22]:
most = chipo.groupby('item_name').sum()
most = most.sort_values(['quantity'], ascending=False)
most.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

What was the most ordered item in the choice_description column?

In [23]:
most_choice = chipo.groupby('choice_description').sum()
most_choice = most_choice.sort_values(['quantity'], ascending=False)
most_choice.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

How many items were orderd in total?

In [27]:
total = chipo.quantity.sum()
print(total)

4972

Turn the item price into a float

In [24]:
chipo.item_price.dtype

dtype('O')

In [26]:
converter = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(converter)
chipo.item_price.dtype

dtype('float64')

How much was the revenue for the period in the dataset?

In [28]:
revenue = (chipo.item_price*chipo.quantity).sum()
revenue

39237.02

How many orders were made in the period?

In [31]:
orders = chipo.order_id.value_counts().count()
orders

1834

What is the average revenue amount per order?

In [34]:
chipo['revenue'] = chipo['item_price']*chipo['quantity']
chipo_order = chipo['revenue'].groupby(chipo['order_id']).sum()
chipo_order.mean()

21.39423118865867

How many different items are sold?

In [35]:
sold = chipo.item_name.value_counts().count()
sold

50